@media screen and (min-width: 350px) {
    header {
        height: 80px;
    }

        header h1 {
            color: white;
            font-family: Rubik;
            font-weight: 600;
            font-size: 58px;
            letter-spacing: -0.025em;
        }

    .reg-measure, .reg-measure-2{
        display:none;
    }

    .reg-btn {
        width: 156px;
        height: 53px;
        font-size: 26px;
    }

    .register {
        height: 80px;
    }

    .options-content {
        flex-direction: column;
    }

    .bl-btn {
        width: 100%;
    }

    html, body {
        overflow-x: hidden;
        height: 100%;
    }

    body {
        position: relative
    }

    footer {
        position: inherit;
    }

    .menu-content {
        justify-content: center;
    }

    .instruction-content {
        width: 94%;
    }

    .instruction {
        left: 0%;
    }

    .game-container canvas {
        margin-left: 15px;
        margin-right: 15px;
        width: 100%;
    }

    .end-content {
        width: 82%;
    }

        .end-content .reg-btn {
            font-size: 20px;
        }
    .regSection{
        margin-bottom:10px;
    }

    .regSection-content {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .register-field{
        padding-left:0;

    }
        .register-field input[type="text"],
        .register-field input[type="password"] {
            width: 84%;
            height: 30px;
            font-family: Roboto;
            font-weight: 500;
            font-size: 20px;
            color: #3d3d3d
        }
    .fixed-footer {
        position: fixed;
    }
    .hidden-right{
        display:none;
    }
    .match-tiltle{
        font-size:26px;
    }

    .match-bl {
        width: 94%;
        display:flex;
        flex-direction: column;
    }
    .match-bl-right{
        justify-content:normal;
    }
    .match-bl-right > *, .match-bl-left > * {
        padding: 0px 10px 0px 10px;
    }

    .small-title{
        margin-top:20px;
        font-size:18px;
    }
    .history-btn-content{
        margin-bottom:10px;
    }
    .desc-bl-content{
        width:94%;
    }
    .text {
        font-size: 14px;
    }

    .log-bl-content .small-title{
        text-align:left;
    }
    .log-list{
        font-size:18px;
    }
    textarea{
        width:84%;
    }
    .account-info p{
        font-size:21px;

    }

    .account-image img {

  
        margin-left: 30px;
        margin-bottom:10px;

    }
}


